.bnr-hdr-logo{
    float:left;
    max-width:25%;
    background-color:#144734;
    border:1px solid #fff;
    border-top-left-radius:.75rem;
    padding:1.25rem 1rem;
    text-align:center
}

    @media screen and (max-width:1366px){
        .bnr-hdr-logo{
            float:none;
            min-width:100%;
            border-left:1px solid #fff;
            border-right:1px solid #fff;
            border-bottom:none;
            border-top-right-radius:.75rem;
            border-top-left-radius:.75rem;
            padding:.25rem 7rem
        }
        }
        .bnr-hdr-title{
            float:left;
            background-color:#144734;
            color:#fff;
            border:1px solid #fff;
            border-top-right-radius:.75rem;
            padding:.5rem 1rem .5rem 2rem

        }@media screen and (max-width:1366px){
            .bnr-hdr-title{
                float:none;
                min-width:100%;
                color:#fff;
                border-left:1px solid #fff;
                border-right:1px solid #fff;
                border-top:none;
                border-top-right-radius:0;
                padding:.25rem;
                text-align:center
            }
        }