@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/**********Fonts**********/
#course_home_content h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: clamp(1.5em, 2vw, 5em);
}
#course_home_content h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#course_home_content p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}

#wiki_page_show h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: clamp(1.5em, 2vw, 5em);
}
#wiki_page_show h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#wiki_page_show p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}
/*********************************************Canvas Page Style******************************************/
body:not(.full-width):not(.outcomes):not(.body--login-confirmation)
  .ic-Layout-wrapper {
  min-width: 93%;
}

.header-bar {
  border-bottom: none;
}

.ic-app-nav-toggle-and-crumbs {
  border-bottom: none;
}

.with-right-side #right-side-wrapper {
  background-color: rgba(0, 0, 0, 0.03);
}

.pages .header-bar-outer-container {
  max-height: 2rem;
}

.pages.show.home .course-title {
  display: none;
}

.pages.show.home .show-content {
  padding-top: 0px;
}

.ic-Layout-contentMain {
  padding: 15px;
  padding-top: 0px;
}

.page-title {
  display: none;
}
/************************* End of Canvas Style ***************************************/

/********MM-OAT-Header-Primary********/
.header-lion {
  background-image: url("https://assets.codepen.io/5650050/mm-oat-lion.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-triangles {
  background-image: url("https://assets.codepen.io/5650050/dark-triangles.png");
  background-color: #000;
}
.mm-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: #fff;
  text-align: right;
  padding: 1rem 1rem 1rem 47%;
  margin: 0;
}
h1 .mm-prefix-color {
  color: #415364; /********** This is where you change the course number color **********/
}
.mm-course-num {
  font-family: "Lato" !important;
  font-size: clamp(2em, 6vw, 8em) !important;
  font-weight: 900 !important;
}
.mm-course-title {
  font-family: "Lato" !important;
  font-weight: 300 !important;
  margin-top: 0 !important;
  font-size: clamp(1.5em, 2vw, 4em) !important;
}

/********** Secondary Header **********/
.mm-title-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: #fff;
  align-items: baseline;
  margin: 0 10%;
}
.mm-course-num-2 {
  font-family: "Lato" !important;
  font-size: clamp(1.5em, 2vw, 3em) !important;
  font-weight: 900 !important;
}
.mm-course-title-2 {
  font-family: "Lato" !important;
  font-weight: 300 !important;
  margin-top: 0 !important;
  font-size: clamp(1.5em, 2vw, 3em) !important;
}

/********** Navigation for both headers **********/
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #000;
}

.navigation a {
  text-decoration: none !important;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #415364;
}
/**********Logo**********/
.mm-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: #000;
}
.logo {
  width: 175px;
  padding: 1rem;
}
/*********************************************End of Headers****************************************/

/**********Primary Section**********/

.mm-section-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  color: #333;
  background-color: #eee;
  margin: 0;
  padding: 2rem;
  border-top: 1rem solid #fff;
  border-bottom: 1rem solid #fff;
}

.mm-section-wrapper h2 {
  font-family: "Lato" !important;
  font-size: clamp(2em, 3vw, 4em) !important;
  font-weight: 900 !important;
}

.mm-section-wrapper p {
  font-family: "Lato" !important;
  font-weight: 500 !important;
  margin-top: 0 !important;
  font-size: clamp(1em, 1vw, 2em) !important;
}

h2 .mm-first-color {
  color: #415364;  /********** This is where you change the color of the first word in the titles**********/
}
/*****************************************************End of Primary Section*******************************************/

/**********Module Cards**********/

.mm-modules-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.mm-module-item {
  background-color: #000;
  border: 0.5rem solid white;
  color: white;
  text-align: center;
  padding: 0 0.5rem 2rem 0.5rem;
  width: 12.5rem;
}

h2 .mm-prefix-color {
  color: #415364;  /********** This is where you change the color of the word Module **********/
}

.mm-mod-number {
  font-family: "Lato" !important;
  font-size: clamp(2em, 2.5vw, 3em) !important;
  font-weight: 900 !important;
  line-height: 1;
}
.mm-mod-title {
  height: 6.5rem;
  padding: 0.5rem 1rem;
  font-family: "Lato" !important;
  font-weight: 300 !important;
  margin: 0 1rem 5rem 1rem !important;
  font-size: clamp(1em, 1vw, 1.5em) !important;
}
.mm-mod-start {
  background-image: url("https://assets.codepen.io/5650050/green-triangles.png");
  border: 0.5rem solid #000;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Lato" !important;
  font-weight: 900 !important;
  font-size: clamp(1em, 1vw, 2em) !important;
  text-decoration: none !important;
  color: #fff !important;
  padding: 1rem 3rem;
  overflow: hidden;
}
.mm-mod-start:hover {
  opacity: 80%;
}
/*********************************************End of Module Cards******************************************/

/**********Module Navigation**********/
.mm-module-nav-wrapper {
  background-color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #fff;
  padding: 1rem 0;
}

.mm-module-nav-item {
  background-image: url("https://assets.codepen.io/5650050/green-triangles.png");
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Lato" !important;
  font-weight: 900 !important;
  font-size: clamp(1em, 1vw, 2em) !important;
  text-decoration: none !important;
  color: #fff !important;
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
}

.mm-module-nav-item:hover {
  opacity: 80%;
}

/**********@media**********/

@media all and (max-width: 1200px) {
  .navigation {
    justify-content: space-around;
  }
  .header {
    min-height: 13.45;
  }
  .header .mm-title {
    text-align: right;
  }
  .mm-logo {
    justify-content: space-around;
  }
  .mm-module-item {
    justify-content: column;
    width: 40%;
  }
}
@media all and (max-width: 1040px) {
  .mm-module-nav-wrapper {
    flex-flow: column wrap;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
}
@media all and (max-width: 900px) {
  .header-lion {
    background-image: none;
  }

  .mm-title,
  .mm-title-2 {
    justify-content: center;
    padding: 1rem;
  }
}
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  .mm-title,
  .mm-title-2 {
    text-align: center !important;
    padding: 1rem;
    margin: 0;
  }
  .navigation-logo {
    flex-flow: column wrap;
    padding: 0 1rem;
  }
  .navigation-logo a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation-logo li:last-of-type a {
    border-bottom: none;
  }
  .mm-module-item {
    width: 65%;
    flex-flow: row wrap;
  }
  .mm-module-title {
    padding: 0;
    margin-bottom: 0;
  }
}
