@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@300;400;500;700;900&display=swap');

/**********Fonts**********/
.ic-Layout-contentMain h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 2em;
}
.ic-Layout-contentMain h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.ic-Layout-contentMain p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font font-size: 0.9em;
}

/********Front Page Banner********/
#mm-wrapper_frontpage {
    background-image: url();
    background-repeat: repeat;
    width: 100%;
    min-height: 13.45rem ;
}