@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Vollkorn:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/**********Fonts**********/
#course_home_content h1, h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: clamp(1.5em, 2vw, 5em);
}
#course_home_content h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#course_home_content p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

#wiki_page_show h1, h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: clamp(1.5em, 2vw, 5em);
}
#wiki_page_show h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#wiki_page_show p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}
/**********Canvas Page**********/
body:not(.full-width):not(.outcomes):not(.body--login-confirmation) .ic-Layout-wrapper {
    min-width: 93%;
}

.header-bar {
    border-bottom: none;
}

.ic-app-nav-toggle-and-crumbs{
    border-bottom: none;
}

.with-right-side #right-side-wrapper {
    background-color: rgba(0, 0, 0, 0.03);
}
.pages .header-bar-outer-container {
    max-height: 2rem;
}

.pages.show.home .course-title {
    display: none;
}

.pages.show.home .show-content {
    padding-top: 0px;
}

.ic-Layout-contentMain {
    padding: 15px;
    padding-top: 0px;
}

.page-title {
    display: none;
}


/********Front Page Banner********/


/**********Logo**********/



/**********Dropdown Nav**********/
.mm-header-navi {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.mm-header-navi a {
    text-decoration: none !important;
  }

  .mm-header-navi nav {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 1em;
  }

  .mm-header-navi ul {
    background: #000000;
      list-style: none;
      margin: 0;
      padding-left: 0;
  }

  .mm-header-navi li {
      color: #fff;
    background: #000000;
      display: block;
      float: left;
      padding: 0.5rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
    width: 13.45rem;
    text-align: center;
  }

  .mm-header-navi li a {
    color: #fff;
    text-decoration: none;
  }

  .mm-header-navi li:hover {
      background: #B2B2B2;
      cursor: pointer;
  }

  .mm-header-navi ul li ul {
      background: #3E3935;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
      left: 0;
    display: none;
    width: 13.45rem;
    text-align: center;
  }

  .mm-header-navi ul li:hover > ul,
  ul li:focus-within > ul, /* this is the line we add for accessibility */
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .mm-header-navi ul li ul li {
      clear: both;
    width: 100%;
  }