@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

p,
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
.syl-tbl ol li,
.syl-tbl ul li {
  padding: 5px;
  margin-left: 15px;
}

.list-view > ul,
.list-view > nav > ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.9em;
}

.pc-title {
  font-size: 2em;
  font-weight: 900;
}

/* Instructor Photo */

.pc-inst-pic a {
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 15spx;
  padding: 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
      position:relative;
}
.pc-inst-pic img {
  border-radius: 50%;
  display: block; 
    width: inherit;
}

/* PC Buttons and Background for buttons in columns*/
.pc-btn-bkg {
  background-color: #144734;
  color: white;
  margin-bottom: 0.5rem;
  padding: 0;
  border: 1px solid white;
  border-radius: 5px;
}

.pc-btn {
  background-color: #144734;
  font-size: 1.1em;
  color: white;
  border: none;
}

.pc-btn:hover {
  background-color: #2d3b45;
  font-weight: bold;
}

.pc-btn:active {
  background-color: #144734;
  color: white;
  border: none;
}

/* ********* Fancy Section  Divider ***************/
.box {
  background-color: #efefef;
  margin: 40px auto;
  padding: 1.5rem;
  text-shadow: 0 1px 0 #fff;
}
.fancy-sec-div {
  position: relative;
}
.fancy-sec-div:before {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/************************************************
*/
.pages.show .page-title {
  display: none;
}

/* Right Sidebar */
#right-side-wrapper {
  background-color: #e1dfdd;
}
#right-side .h2 {
  border-bottom: 1px solid #000000;
}

/* Banner Comm Buttons */
.comm-btn-bkg--lt-col {
  margin-left: 40%;
}
.comm-btn-bkg {
  float: right;
  text-align: right;
  color: #144734;
  padding: 0;
  border: 1px solid white;
  margin-bottom: 1rem;
}

.comm-btn {
  background-color: #fff;
  color: #144734;
  padding: 2px;
  border: none;
}

.comm-btn:hover {
  background-color: #fff;
  color: #144734;
  font-weight: bold;
}

.comm-btn:active {
  color: #144734;
  border: none;
}

@media screen and (max-width: 1355px) {
  .comm-btn-bkg {
    float: none;
    text-align: center;
    min-width: 100%;
    margin-bottom: 1rem;
  }
  .comm-btn-bkg--lt-col {
    margin-left: 0;
  }
}

/* Banner Header Logo */
.bnr-hdr-logo {
  float: left;
  max-width: 25%;
  background-color: #144734;
  border: 1px solid white;
  border-top-left-radius: 0.75rem;
  padding: 1.25rem 1rem 1.25rem 1rem;
  text-align: center;
}
@media screen and (max-width: 1366px) {
  .bnr-hdr-logo {
    float: none;
    min-width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    padding: 0.25rem 7rem;
  }
}
/* Banner Header Title */
.bnr-hdr-title {
  float: left;
  background-color: #144734;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 0.75rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
}
@media screen and (max-width: 1366px) {
  .bnr-hdr-title {
    float: none;
    min-width: 100%;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: none;
    border-top-right-radius: 0;
    padding: 0.25rem;
    text-align: center;
  }
}

/* Overlay width adjustment */
.ui-dialog.ui-widget-content {
  width: 60% !important;
  padding: 25px;
}

/* responsive video */

.fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********Banner Video Div *****************/
.bnr-nav-vid {
  padding: 0 15%;
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@media screen and (max-width: 1366px) {
  .bnr-nav-vid {
    padding: 0;
    text-align: center;
  }
}

/* Banner Nav Background */
.bnr-nav-bkg {
  background-color: #144734;
  color: white;
  margin-bottom: 0.5rem;
  padding: 0;
  border: 1px solid white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Banner Nav Buttons */

.bnr-nav-btn {
  background-color: #144734;
  font-size: 1.1em;
  color: white;
  border: none;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.bnr-nav-btn:hover {
  background-color: #2d3b45;
  font-weight: bold;
}

.bnr-nav-btn:active {
  background-color: #144734;
  color: white;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* Secondary Buttons */
.Button--secondary:hover {
  background-color: #2d3b45;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* ******* hr divider with Shadow *********** */
.section-divider {
  border: none;
  height: 20px;
  width: 98%;
  height: 50px;
  margin-top: 0;
  /*border-bottom: 1px solid #1f1209;*/
  box-shadow: 0 20px 20px -20px #999;
  margin: -50px auto 10px;
}

/* Module Cards */
.mod-crd {
  background-color: white;
  float: left;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgba(184, 184, 184, 0.6);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(184, 184, 184, 0.6);
  -moz-box-shadow: 1px 1px 1px 1px rgba(184, 184, 184, 0.6);
}

@media screen and (max-width: 1131px) {
  .mod-crd {
    float: none;
    min-width: 100%;
  }
}

.mod-crd:hover {
  box-shadow: 2px 2px 3px 2px rgba(184, 184, 184, 0.5);
  -webkit-box-shadow: 2px 2px 3px 2px rgba(184, 184, 184, 0.5);
  -moz-box-shadow: 2px 2px 3px 2px rgba(184, 184, 184, 0.5);
}

.mod-crd-title {
  padding: 0px;
  background-image: url('https://live.staticflickr.com/65535/50038446897_1fcc7dbaf1_o.jpg');
  height: auto;
  width: 100%;
  display: block;
  float: left;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  background-color: #144734;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Uncomment to use with photo */
/*
.mod-crd-title--blend {
  background-blend-mode: screen;
}
*/
.mod-title {
  text-align: center;
  font-size: 1.25em;
  font-weight: 800;
}

.mod-crd-inner {
  border: 1px solid #cccccc;
  text-align: center;
}

/* ******Syllabus Sections ******** */
.syl-row {
  padding: 1.5rem;
}
.syl-sec1 {
  background-color: rgba(178, 178, 178, 0.1);
  border: 1px solid white;
  border-radius: 10px;
  padding: 1.5rem;
}

.syl-tbl table {
  border-collapse: separate;
  width: 100%;
}

.syl-tbl table,
.syl-tbl td,
.syl-tbl th,
.syl-tbl tr {
  border: 1px solid #fff;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;
}

.syl-tbl th,
.syl-tbl td {
  padding: 15px !important;
}

.syl-tbl th {
  background-color: rgba(178, 178, 178, 0.75);
  color: black;
}

.syl-tbl tr:nth-child(odd) {
  background-color: rgba(178, 178, 178, 0.2);
}

.syl-tbl tr:nth-child(even) {
  background-color: rgba(178, 178, 178, 0.1);
}
